@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "QuickSand", sans-serif;
    color: #333333;
}

h1{
    color: #E57373;
}

.container1{
    background-color: #FDF6E3;
    height: fit-content;
}

.container{
    background-color: #FFEFDD;
    display: flex;
}